alabaster==0.7.13
apturl==0.5.2
asgiref==3.6.0
asn1crypto==1.4.0
astor==0.8.1
attrs==22.2.0
Babel==2.11.0
bandit==1.7.4
bcrypt==3.2.0
blinker==1.4
Brlapi==0.8.3
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
chrome-gnome-shell==0.0.0
click==8.1.3
colorama==0.4.6
command-not-found==0.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==39.0.1
cupshelpers==1.0
darglint==1.8.1
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==4.1.7
django-admin-honeypot==1.1.0
django-admin-honeypot-updated-2021==1.2.0
django-appconf==1.0.5
django-axes==5.40.1
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-crontab==0.7.1
django-csp==3.7
django-filter==22.1
django-http-referrer-policy==1.1.1
django-ipware==4.0.2
django-js-asset==2.0.0
django-storages==1.13.2
django-watermark==0.2.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
docutils==0.18.1
drf-yasg==1.21.5
duplicity==0.8.21
eradicate==2.1.0
fasteners==0.14.1
filelock==3.9.0
filetype==1.2.0
flake8==5.0.4
flake8-bandit==4.1.1
flake8-broken-line==0.6.0
flake8-bugbear==23.2.13
flake8-commas==2.1.0
flake8-comprehensions==3.10.1
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.4.0
flake8-isort==6.0.0
flake8-polyfill==1.0.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
future==0.18.2
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
html5lib==1.1
httplib2==0.20.2
idna==3.4
imagesize==1.4.1
importlib-metadata==4.6.4
inflection==0.5.1
isort==5.12.0
itypes==1.2.0
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==4.17.3
kavenegar==1.1.2
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.7
MarkupSafe==2.1.2
mccabe==0.7.0
mechanize==0.4.7
mergedeep==1.3.4
mkdocs==1.4.2
monotonic==1.6
more-itertools==8.10.0
mysqlclient==2.1.1
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
openapi-codec==1.3.2
packaging==23.0
paramiko==2.9.3
pbr==5.11.1
pep8-naming==0.13.3
pexpect==4.8.0
Pillow==9.4.0
platformdirs==3.0.0
pluggy==1.0.0
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pyaes==1.6.1
pycairo==1.20.1
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.17
pycups==2.0.1
pydocstyle==6.3.0
pyfiglet==0.8.post1
pyflakes==2.5.0
Pygments==2.14.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyproject_api==1.5.0
pyRFC3339==1.1
Pyrogram==2.0.59
pyrsistent==0.19.3
pyshorteners==1.0.1
PySocks==1.7.1
pyte==0.8.0
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-Levenshtein==0.12.2
pytz==2022.7.1
pyxdg==0.27
PyYAML==6.0
pyyaml_env_tag==0.1
reportlab==3.6.8
requests==2.28.2
restructuredtext-lint==1.4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
simplejson==3.18.3
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.3
stevedore==5.0.0
swagger-spec-validator==3.0.3
systemd-python==234
TgCrypto==1.2.4
tomli==2.0.1
tox==4.4.6
typing_extensions==4.5.0
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ulauncher==5.15.0
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.14
usb-creator==0.3.7
virtualenv==20.19.0
wadllib==1.3.6
watchdog==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
whitenoise==6.3.0
xdg==5
xkit==0.0.0
zipp==1.0.0
